.color-picker-main{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 2px solid #E9E9E9;
    margin: 0 10px;
    cursor: pointer;
}

.color-picker-text{
    font-size: 14px;
    line-height: 16px;
    color: #1E2228;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
}

.color-picker-text.pink-text{
    color: #FF2C91;
}