.footer-top-main{
    border-bottom: 1px solid #DDE5ED;
}
.feature-container{
    border-right: 1px solid #DDE5ED;
    padding: 40px;

}
.row .feature-container:last-child{
    border-right: none;
}

.feature-image{
    height: 65px;
    margin-bottom: 20px;
    margin-left: 90px;
}
.feature-title{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    font-weight: bold;
    color: #1E2228;
}
.feature-subtitle{
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #939599;
}