.product-pictures-main{
    height: 100%;
}
.product-thumbnail{
    background: #FEFEFE;
    border: 2px solid #E9E9E9;
    border-radius: 12px;
    padding: 10px;
    height: 70px;
    width: 70px;
    cursor: pointer;
}

.product-thumbnail.selected {
    border: 2px solid #FF2C91;
}

.phone-img{
    height: 100%;
}

.phone-container{
    min-height: 400px;
    max-width: 100%;
    background: #FEFEFE;
    border: 2px solid #E9E9E9;
    padding: 20px;
    border-radius: 12px;
}