* {
    box-sizing: border-box;
}

.register-main {
    /* height: 50%; */
    /* width: 40vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-items: center; */
    margin: auto auto;
    box-shadow: 0px 0px 30px rgba(41, 10, 10);
}

.register-container {
    /* border: 2px solid rgba(0, 0, 0, 0.199); */
    width: 40vw;
    /* height: 70vh; */
    padding: 20px;
}

.mtb-10 {
    margin: 10px 0;
}

.m-auto {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.noDecoration {
    text-decoration: none;
}

button:hover {
    background-color: black;
    color: whitesmoke;
}
